@using AutoHub.Web.ViewModels.Models
@model ModelViewModel

<h2>Add a New Model</h2>

<form asp-action="Create" method="post">
    <div>
        <label for="Name">Model Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label for="Year">Year</label>
        <small class="text-muted">Pickup car from 1955 to 2027 future production</small>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div>
        <label for="HorsePower">HorsePower</label>
        <small class="text-muted">Type between 10hp and 2000hp</small>
        <input asp-for="HorsePower" class="form-control" />
        <span asp-validation-for="HorsePower" class="text-danger"></span>
    </div>
    <div>
        <label for="FuelType">FuelType</label>
        <small class="text-muted">Select Petrol or Diesel</small>
        <input asp-for="FuelType" class="form-control" />
        <span asp-validation-for="FuelType" class="text-danger"></span>
    </div>
    <div>
        <label for="GasConsumption">GasConsumption</label>
        <small class="text-muted">Type between 4 and 20 per 100km</small>
        <input asp-for="GasConsumption" class="form-control" />
        <span asp-validation-for="GasConsumption" class="text-danger"></span>
    </div>
    <div>
        <label for="Description">Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label for="ImageUrl">ImageUrl</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="SelectedBrand"></label>
        @Html.DropDownListFor(model => model.SelectedBrand,
                 new SelectList(Model.Brands, "Id", "Name", Model.SelectedBrand),
                 "Select a brand", new { @class = "form-control" })
        
        <span asp-validation-for="SelectedBrand"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Create Model</button>
</form>

<a asp-action="Index">Back to Models List</a>
