@using AutoHub.Infrastructure.DTOs
@model IEnumerable<AutoHub.Infrastructure.DTOs.EngineDto>

<h2 class="text-center">All Engines</h2>

<div class="container">
    <div class="row">
        @foreach (EngineDto engines in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <img src="@engines.ImageUrl" alt="@engines.Name" class="card-img-top" style="max-height: 200px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@engines.Name</h5>
                        <a href="@Url.Action("Details", "Engine", new { id = engines.Id })" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
  <a asp-action="Create" class="btn btn-primary">Add New Engine</a>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}