@{
    ViewData["Title"] = "Internal Server Error";
}

<div class="text-center">
    <h1 class="display-4">@Model.StatusCode - @ViewData["Title"]</h1>
    <p class="lead">@Model.Message</p>
    <a href="/" class="btn btn-primary">Go to Home</a>
</div>