@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="h1">Welcome to AutoHub</p>
    <p class="lead">
        <strong>
            Here you can find automobile brands,models,parts and tuning parts
        </strong>
    </p>

    <div class="d-flex justify-content-center">
        <img src="~/images/background.jpg" alt="ThreeBrand" class="img-fluid mx-3" style="max-width 150px;" />
    </div>
</div>
